################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebPersonal/FileContentIndex/405956d4-afdf-4f81-9f73-16781eb58a2c.vsidx
/.vs/WebPersonal/FileContentIndex/45039d7f-c4a9-4fa1-95c1-b556e3ce3abf.vsidx
/.vs/WebPersonal/FileContentIndex/b351767d-e7b7-4517-93fe-b505320d2cae.vsidx
/.vs/WebPersonal/FileContentIndex/bd426b16-33a3-4f84-a70d-b68c4dc2b87f.vsidx
/.vs/WebPersonal/FileContentIndex/ea8f69b5-9ede-435b-8b06-aefca1b431d9.vsidx
/.vs/WebPersonal/FileContentIndex/a9970861-d869-426a-aad5-f0c56cad9a7d.vsidx
/.vs/WebPersonal/FileContentIndex/349e8d36-ec10-4b29-a5c8-cd3836a5ad39.vsidx
*.vsidx
